<button type="button" class="btn btn-outline-primary position-absolute end-0 goods-adding-button"
        (click)="openAddingModal()">Add goods</button>
<div class="container d-flex justify-content-center">
  <table class="table text-center table border-primary position-relative goods-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let goods of allGoods">
      <th >{{goods.name}}</th>
      <th>{{goods.price}}</th>
      <span class="goods-table">
        <button type="button" class="btn btn-primary" (click)="order(goods)">order</button>
      </span>
      <span class="goods-table">
        <button type="button" class="btn btn-primary" (click)="editGoods(goods)">edit</button>
      </span>
      <span class="goods-table">
        <button type="button" class="btn btn-primary" title="delete goods"
              (click)="deleteGoods(goods.id)">X</button>
      </span>
    </tr>
    </tbody>
  </table>
</div>
