<div class="container d-flex justify-content-center">
  <table class="table text-center table border-primary position-relative order-table">
    <thead>
    <tr>
      <th class="table-header-font">Client</th>
      <th class="table-header-font">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td >{{order.client}}</td>
      <td>{{order.date | date: 'longDate'}}</td>
      <span class="orders-table">
        <button type="button" class="btn btn-primary" (click)="editOrder(order.id)">edit</button>
      </span>
      <span class="orders-table">
        <button type="button" class="btn btn-primary" title="delete order"
                (click)="deleteOrder(order.id)">X</button>
      </span>
    </tr>
    </tbody>
  </table>
</div>
